.ponto-container {
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
}

.info-box {
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 8px;
    margin-bottom: 20px;
    background-color: #f9f9f9;
}

@media (max-width: 600px) {
    .ponto-container {
        padding: 10px;
    }
}

.root-ponto {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 93vh;
    padding: 16px;
    box-sizing: border-box;
}

.paper-ponto {
    width: 90vw;
    max-width: 1200px;
    height: 54vh;
    max-height: 800px;
    padding: 32px;
    margin: auto;
    overflow-y: auto;
    box-sizing: border-box;
}

.btn-class {
    display: flex;
    justify-content: flex-end;
    margin-top: 25px;
}

.btn-cancel {
    background-color: red !important;
    color: #000;
    margin-right: 15px !important;
}

.btn-register {
    background-color: #b2e6a5 !important;
    color: #000;
}

.div-input-edit {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    height: 95%;
}

.div-input {
    display: flex;
    justify-content: center;
    flex-direction: column;
}